{% extends "base.html" %}

{% block title %}Liste des Médecins{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold mb-6 text-gray-800">Liste des Médecins</h1>
    
    <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nom</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Spécialisation</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                {% for doctor in doctors %}
                <tr>
                    <td class="px-6 py-4 whitespace-nowrap">{{ doctor.first_name }} {{ doctor.last_name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ doctor.specialization }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ doctor.email }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                        <a href="{{ url_for('details_doctor', id=doctor.doctor_id) }}" class="text-blue-600 hover:text-blue-900">Détails</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}